<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2024 Ajay-Blogs. All rights reserved.</p>
          <p>
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a>
          </p>
          <div class="social-links">
            <a href="#" class="social-icon">Facebook</a> |
            <a href="#" class="social-icon">Twitter</a> |
            <a href="#" class="social-icon">Instagram</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  