<div class="container profile-container" *ngIf="user">
  <div class="card shadow-lg p-4 mx-auto">
    <h1 class="text-center mb-4 gradient-text">User Profile</h1>
    <form (ngSubmit)="updateProfile()" class="needs-validation" novalidate>
      
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="updatedUser.name"
          name="name"
          class="form-control"
          required
        />
      </div>

      
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="updatedUser.email"
          name="email"
          class="form-control"
          required
        />
      </div>

     
      <button type="submit" class="btn btn-primary w-100">
        Update Profile
      </button>
    </form>
  </div>
</div>
